#results-page img {
  width: 90%;
  /*height: 25em;
  overflow: hidden;*/
}

#personal-info-form img {
  width: 80%;
}

#results-page p {
  text-align: justify;
}

body {
  margin: 20px
}

/*need this instead of bootstrap class ".hidden" so jQuery .fadeIn will work*/
.nodisplay {
  display: none;
}

h2, h3, h4 {
  text-align: center;
}

.p1form {
  margin-top: 5em
}
